Implementirajte jezikovne modele, ki temelji na 2- in 3- gramih ter na glajenju Kneser-Ney in Good Turing.
S pomočjo učnega korpusa zgradite 2-gram in 3-gram jezikovni model.
Oba modela  implementirajte s pomočjo glajenja Kneser-Ney (rekurzivna enačba) in Good Turing.
Za vse modele izračunajte perpleksnost na učnem korpusu.
Program implementirajte tako, da bo model shranjen v datoteko.

Točkovanje:

Modela na osnovi Good Turing glajenja [3 t]
Modela na osnovi Kneser-Ney glajenja [3 t]
Izračun perpleksnosti [2 t]
Uporaba modelov shranjenih v datoteki [1 t]
Implementacija v C++ ali Rust [1 t]

Test data location: 
/korpus
Test data file names: 
/korpus/kas-4000.text.txt
/korpus/kas-5000.text.txt
....